@import "./variables.css";
@import "./default.css";

.main {
	display: flex;
	padding: var(--big-padding);
	border: 1px solid var(--primary-color);
	border-radius: var(--big-radius);
	background-color: var(--secondary-color);
}

#game_field {
	background-color: var(--field-color);
	border: 1px solid var(--primary-color);
	border-radius: var(--small-radius) 0 0 var(--small-radius);
}

.game_info {
	display: flex;
	flex-direction: column;
	padding: var(--small-padding);
	justify-content: space-between;
	width: 200px;
	border-radius: 0 var(--small-radius) var(--small-radius) 0;
	border: 1px solid var(--primary-color);
}

.results {
	text-align: center;
	font-weight: bold;
	font-size: 24px;
}

#results_value {
	font-weight: bold;
	font-size: 48px;
	line-height: 48px;
}

#game_button {
	background-color: var(--accent-color);
	color: white;
	height: 50px;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
}

#game_button:hover {
	color: var(--primary-color);
}

.settings {
	text-align: center;
}

.settings_inputs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

#send_config {
	height: 24px;
	font-size: 18px;
	line-height: 18px;
	color: white;
	background-color: var(--primary-color);
}

#send_config:hover {
	color: var(--accent-color);
}

#game_over {
	border: none;
	border-radius: var(--big-radius);
	padding: 0;
	box-shadow: 0 10px 5px -5px grey;
}

#close_button {
	float: right;
	width: auto;
	font-weight: bold;
	cursor: pointer;
	user-select: none;
	background: none;
}

#close_button:hover {
	color: var(--accent-color);
}

.modal_content {
	padding: 0 10px 10px 10px;
	text-align: center;
	user-select: none;
}

#game_over_result {
	font-weight: bold;
}
